__pycache__/*.pyc
Cogs/__pycache__/*.pyc
.vscode/*
venv/*
*.safetensors
*.ckpt
*.pth
stablediffusion.ipynb
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
*.Identifier
model/*